
/* ------ navbar-header --------  */
.dashboard-header .navbar {
    padding: 0px;
    border-bottom: 1px solid #e6e6f2;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
    min-height: 60px;
}



.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 11px 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fdc50c;
}
.navbar-brand:hover{
    color: #fabb33;
}
.navbar-right-top {}

.navbar-right-top .nav-item {
    border-left: 1px solid #e6e6f2;
}

.navbar-right-top .nav-item:last-child {
    border: none;
}

.navbar-right-top .nav-item .nav-link {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #82849f;
}


/* ------  Notification Dropdown --------  */


.notification-dropdown {
    min-width: 320px;
}
.connection-dropdown,
.nav-user-dropdown {
    padding: 0px;
    margin: 0px;
}

.connection .dropdown-toggle::after,
.nav-user .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border: none;
}


.list-footer,
.conntection-footer {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    line-height: 1.5;
    font-weight: 700;
    background-color: #fdc50c;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.list-footer a,
.conntection-footer a {
    color: #fff;
}

.list-footer a:hover,
.conntection-footer a:hover {
    color: #fff;
}

/* ------  Connection --------  */

.connection-list {
    width: 300px;
    padding: 20px;
}

.connection-item {
    border-radius: 3px;
    line-height: 32px;
    text-align: center;
    padding: 12px 7px 4px;
    display: block;
    border: 1px solid transparent;
    color: #3d405c;
    font-size: 12px;
}

.connection-item img {
    width: 32px;
}

.connection-item:hover {
    background-color: #fff;
    border: 1px solid #fdc50c;
    color: #fdc50c;
}

.connection-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* ----- User Nav Dropdown -----*/

.nav-user-dropdown {
    padding: 0px;
    min-width: 230px;
    margin: 0px;
}
.nav-user-info {
    background-color: #fdc50c;
    line-height: 1.4;
    padding: 12px;
    color: #fff;
    font-size: 13px;
    border-radius: 2px 2px 0 0;
}

.nav-user-info .status {
    float: left;
    top: 7px;
    left: 0px;
}

.nav-user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 22px 15px;
    clear: both;
    font-weight: 400;
    color: #686972;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
    line-height: 0.4;
}

.nav-user-dropdown .dropdown-item:hover {
    background-color: #f7f7fb;
}
.user-avatar-md {
    height: 32px;
    width: 32px;
}
/* ------ navbar-header --------  */

/* -----------------------
Left Navigation Sidebar
------------------------- */

.nav-left-sidebar {
    position: fixed;
    width: 260px;
    height: 100%;
    top: 60px;
    overflow: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"] {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-left-sidebar .navbar-nav {
    width: 100%;
}

.nav-left-sidebar .navbar {
    position: relative;
    padding: 14px;
}

.nav-left-sidebar .navbar-nav .nav-link {
    font-size: 16px;
    padding: 12px;
    color: #fdc50c;
    font-weight: bold;
    font-family: 'NRT-Reg';
    transition: 0.3s;
    margin-right: -35px;
}

.nav-left-sidebar .nav-link i {
    font-size: 22px;
    margin-right: 9px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    padding-left: 30px;
}


.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #585858;
    color: #fdc50c;
    border-radius: 2px;
}


.nav-left-sidebar .navbar-toggler {
    background-color: #fff;
}
.navbar-toggler {
    padding: .25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}



/* -----------------------
Leftsidebar - dark
------------------------- */

.sidebar-dark {
    background-color: #363636;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
}

.sidebar-dark .nav-divider {
    color: #fdc50c;
    font-weight: bold;
    font-family: 'NRT-Reg';
    font-size: 18px;
    letter-spacing: 1px;
    text-align: right;
    margin-right: -30px;
    padding: 10px 14px;
    line-height: 30px;    
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover {
    color: #fdc50c;
    background-color: #585858;
    border-radius: 2px;
}

@media only screen and (max-width:768px) {
    .dashboard-content {
    padding: 20px 20px 60px 20px;
}
    .nav-left-sidebar .navbar a {
        color: #fff;
        font-size: 18px;
    }
    .nav-left-sidebar .navbar {
        padding: 14px;
    }
    .nav-left-sidebar {
        width: 100%;
        position: relative;
        top: 0px;
        right: 0px;
    }
    .dashboard-wrapper {
        margin-left: 0px;
        
    }
    .dashboard-footer {
        margin-left: 0px;
    }
    .nav-left-sidebar .navbar-toggler {
        background-color: #fff;
    }

}
/* Extra Small Devices, Phones */

@media only screen and (max-width:480px) {
    .dashboard-content {
    padding: 20px 20px 60px 20px;
}
    .nav-left-sidebar .navbar a {
        color: #fff;
    }
    .nav-left-sidebar .navbar-toggler {
        background-color: #fff;
    }
    .aside-header .navbar-toggle {
        display: block;
    }
    .nav-left-sidebar .navbar {
        padding: 14px;
    }
    .nav-left-sidebar {
        width: 100%;
        position: relative;
        top: 0px;
        right: 0px;
    }
}
